
<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <div *ngFor="let country of Country_Name">
            <p class="pointer zoom" (click)="Headline_of_different_country(country)" style="padding: 8px; ">{{ country }}</p>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <div>
            <mat-toolbar color="primary">
                <span>
                    <button mat-button (click)="sidenav.toggle()">
                        <mat-icon>list</mat-icon>
                    </button>
                </span>
                <span>{{ Name }}</span>
                <mat-icon  [matBadge]="article_Number" matBadgeColor="warn" >article</mat-icon>
            </mat-toolbar>
        </div>
        <div *ngFor="let article of articles">
            <mat-card>
                <mat-card-header>
                    <div class=" icon"><mat-icon>fact_check</mat-icon></div>
                    <div >
                   <mat-card-title class="att"> {{article.author}}</mat-card-title>
                   <mat-card-subtitle>{{article.source?.name}}</mat-card-subtitle>
                </div>
                </mat-card-header>
                <img mat-card-image  src="{{article.urlToImage}}" alt="Image Not Available ">
                <mat-card-content>
                    <h3>{{ article.description }}</h3>
                   <h4> <a href="article.url">more..</a></h4>
                </mat-card-content>
            </mat-card>
        </div>        
    </mat-sidenav-content>
  </mat-sidenav-container>
<router-outlet></router-outlet>